.scroll
{
   float:left;
   max-height: 100%;
   overflow-y: scroll;
   width: 210px;
   right: 0;
}

.noscroll
{
   float:left;
   max-height: 100%;
   overflow-y: hidden;
   width: 210px;
   right: 0;
}

.mainbody
{
   width:auto;
   overflow:hidden;
   margin-left: 230px;
}


body
{
   background-color: #222222;
}

p, h1, h4, a
{
   color: white;
}
