.scroll
{
   float:left;
   max-height: 100%;
   overflow-y: scroll;
   width: 210px;
   right: 0;
}

.noscroll
{
   float:left;
   max-height: 100%;
   overflow-y: hidden;
   width: 18%;
   right: 0;
}

.mainbody
{
   overflow:hidden;
   margin-left: 22%;
   padding-left: 2%;
}

.center
{
   margin: auto;
   width: 90%;
   padding: 10px;
}
.linksCenter
{
   text-align: center;
}

body
{
   background-color: #222222;
}

h1, h2, h3, h4, h5, li a
{
   color: white;
   text-decoration: none;
}

a
{
   color: lightblue;
   text-decoration: underline;
}

p
{
   color: #9d9d9d
}

iframe
{
    height: 60%;
    width: 90%;
}

.navbar-inverse .navbar-nav>li>a
{
   color: white;
}

@@media screen and (max-device-width" 480px) {
   .noscroll
   {
      float:left;
      max-height: 100%;
      overflow-y: hidden;
      width: 18%;
      right: 0;
      margin-left: -10%;
   }
}
