.scroll
{
   float:left;
   max-height: 100%;
   overflow: auto;
   width: auto;
   border-right-width: thin;
   border-right-color:#080808;
}

.mainbody
{
   overflow: hidden;
   height: auto;
   border-left-color: #080808;
}


body
{
   background-color: #222222;
}

p, h1, h4, a
{
   color: white;
}
